c.ServerApp.ip = '0.0.0.0'
c.ServerApp.open_browser = False
c.ServerApp.port = {{ jupyter_port }}
c.ServerApp.password = '{{ jupyter_password }}'
c.ServerApp.notebook_dir = '{{ jupyter_notebook_dir }}'
